<div id="modal" class="modal">
    <div class="modal-inner">
        <h2>Modal Test</h2>
        <p>
            <%= error %>
        </p>
        <form action="/direct/<%= direction %>" method="get">
            <button id="closeModalBtn" onclick="hidden">Ok</button>
        </form>
    </div>
</div>