<div id="header">
    <div id="navbar">
        <ul>
            <a href="/" class="vertical-line">
                <li>Home</li>
            </a>
            <a href="/books">
                <li class="">Books</li>
            </a>

        </ul>
    </div>
    <h1 id="title">BookTracker</h1>
    <div id="loginBar">
        <ul>
            <% if (!locals.userId) { %>
                <a href="/login" class="vertical-line">
                    <li class="first-child">Login</li>
                </a>
                <a href="/register">
                    <li>Register</li>
                </a>
            <% } else { %>
                <a href="/logout">
                    <li class="last-child">Logout</li>
                </a>
            <% } %>
        </ul>
    </div>
</div>