#main-container{
    display: flex;
    outline: 2px solid var(--accent);
    padding: 15px;
    width: 800px;
    margin: 50px auto 25px;
    border-radius: 15px;
}

#img-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    outline: 2px solid var(--accent);
    border-radius: 15px;
    padding:15px;
    margin:5px;
}

#img-container h2{
    text-align: center;
}

#img-container img {
    height:450px;
    border-radius:15px;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    outline: 2px solid var(--accent);
    border-radius: 15px;
    padding:15px;
    margin:5px;
    width:50%;
}

.form-group label {
    text-align: center;
}

.form-group {
    padding:5px;
}

label {
    font-size: 1.1rem;
}

#textarea {
    resize:none;
    padding:10px;
    font-size: 1.1rem;
    width:100%;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    line-height: 22px;
}

.form-group button {
    border: none;
    padding:15px;
    border-radius: 15px;
    font-size: 1.1rem;
    text-align: center;
}

.form-group:last-of-type {
    text-align: center;
}

.add{
    width:60px;
    background-color: var(--primaryBtn);
}

.save {
    background-color:  var(--primaryBtn);
}

.add:hover, .save:hover{
    background-color: var(--primaryBtnHover);
    cursor: pointer;
}

.cancel {
    background-color: var(--dangerBtn);
}

.cancel:hover {
    background-color: var(--dangerHover);
    cursor: pointer;
}

#textarea:focus {
    outline: none;
}

@media screen and (max-width:810px) {
    #main-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
        width:400px;
    }

    #img-container {
        width:100%;
        margin-bottom:15px;
    }

    #form-container {
        width:100%;
    }
}

@media screen and (max-width: 430px) {
    #main-container {
        width:100%;
    }
}

@media screen and (max-width: 350px) {
    img {
        width:100%;
        height:auto;
    }
}