#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: var(--header);
    border-bottom: 2px solid black;
}

#header li {
    list-style: none;
    color: var(--text);
    font-size: 1.1rem;
}

#navbar {
    position: absolute;
    left: 0;
}

#loginBar {
    position: absolute;
    right: 0;
}

#title {
    margin: 0 auto;
    text-align: center;
}

#loginBar, #navbar {
    display: flex;
    flex-grow: 0;
}

.vertical-line {
    border-right: 1px solid black;
}

#header a {
    text-decoration: none;
}

#header li {
    height: 100%;
    text-decoration: none;
    padding: 15px;

}

#header ul {
    display: flex;
}

@media screen and (max-width: 600px) {
    #header {
        flex-direction: row;
        height: 125px;
        flex-wrap:wrap;
    }

    #title {
        order: 0;
        text-align: center;
        display: block;
        width:100%;
        margin-top:15px;
    }

    #loginBar {
        order: 2;
        position: relative;
    }

    #navbar {
        order: 1;
        position: relative;
    }

    .last-child, .first-child {
        border-left: 1px solid black;
    }

}

